* {
    box-sizing: border-box;
    
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center content */
    align-items: center;
    height: 100vh; /* Full height */
    background-color: #f0f0f0; /* Soft background color */
    font-family: 'Roboto', sans-serif; /* Modern font */
    
}

.square {
    background-color: #ffffff;
    border: 2px solid #d1d5db;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 70px; 
    height: 70px;
    padding: 0px;
    text-align: center;
    width: 70px;
    margin-right: -1px;
    margin-left: -1px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    
}

.square:hover {
    background-color: #e2e8f0; 
    transform: scale(1.05); 
}

.board::after {
    clear: both;
    content: '';
    display: table;
}

.reset {
    display: flex;
    justify-content: center; 
    width: 100%; 
    margin-top: 20px; 
}


.reset-btn {
    background-color: #ffffff;
    border: 2px solid #d1d5db;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    padding: 10px 20px;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.reset-btn:hover {
    background-color: #e2e8f0;
    transform: scale(1.05);
}

.reset-btn:active {
    background-color: #cbd5e1;
    transform: scale(0.95);
}

